/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import url(../node_modules/bootstrap/dist/css/bootstrap.css);    
@import url(../node_modules/bootstrap/dist/css/bootstrap.min.css);
body {
    background-attachment: fixed;
    background-color: rgb(204, 229, 233);
    background-image: url("./images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    }

