<section>
    <div class="container">
        <div class="about-section">
            <div class="inner-container">
                <h1>ABOUT US</h1>
                <p class="text">
                    The Indian textile industry has a significant presence in the economy as well as in the
                    international textile economy.
                    Its contribution to the Indian economy is manifested in terms of its contribution to the industrial
                    production,
                    employment generation and foreign exchange earnings. It contributes 20 percent of industrial
                    production,
                    9 percent of excise collections, 18 percent of employment in the industrial sector,
                    nearly 20 percent to the countrys total export earning and 4 percent to the Gross Domestic Product.
                    In human history, past and present can never ignore the importance of textile in a civilization
                    decisively affecting its destinies,
                    effectively changing its social scenario. A brief but thoroughly researched feature on Indian
                    textile culture.

                </p>
            </div>
        </div>
    </div>
</section>