<div id="slider">
    <figure>
        <img src="../../images/ERP-Software-for-Textile-Trading-Business.jpg">
        <img src="../../images/ERP-Textile.jpg">
        <img src="../../images/IMAGE+3+-+DIGITAL+TEXTILE+TRENDS+2022.jpg">
    </figure>
</div>
<br>
<div>
    <h1 class="head">Order / Dispatch Order Management</h1>
</div>

<img src="../../images/Dispatchorder.png" class="solution">

<div class="list">
    <p>sing an Order Management System, you can track your Order & Inventory,<br>
        <br>
        maintain sales and purchase orders, send delivery updates, account, create packages and shipments, all the
        data on a single platform.

    </p>
    <h1>Features</h1>
    <ul id="list">
        <li> Design / Color / Size wise Order Management</li>
        <li>Season wise Management</li>
        <li>Manage Order Image</li>
        <li>Pending Order Management</li>
        <li>Order Cancel</li>
        <li>Physically, E-Commerce & Application based Ordering System</li>
        <li>Company Barcode wise Order Management</li>
    </ul>
</div>
<div class="template">
    <div class="grid-item">
        <img src="../../images/Material.png">
        <h2 class="head1">Material</h2>
        <h4 class="part">Our Material Module is a dynamic platform that caters<br>
            to the specific needs of geotextile manufacturing companies.<br>
            It records product-sensitive data in a manner that simplifies<br>
        </h4>
    </div>
    <div class="grid-item">
        <img src="../../images/planning.png">
        <h2 class="head1">Planning</h2>
        <h4 class="part">Our Planning Module uses data from other integrated functions <br>to forecast material and
            machine capacity
            required<br> with a just-in-time approach. </h4>
    </div>
    <div class="grid-item">
        <img src="../../images/crm.png">
        <h2 class="head1">CRM</h2>
        <h4 class="part">Our Customer Relationship Module addresses the whole range of<br> solutions covering machinery
            sales the
            high-potential prospects.
        </h4>

    </div>
    <div class="grid-item">
        <img src="../../images/purchase.png">
        <h2 class="head1">CRM</h2>
        <h4 class="part">Our Purchase Module gives an overview of,<br> and helps manage, the individual component demand
            to deliver a
            customer order.
        </h4>
    </div>
    <div class="grid-item">
        <img src="../../images/stores.png">
        <h2 class="head1">Stores & Inventory</h2>
        <h4 class="part">Our Stores & Inventory Module enables the enterprise<br> to respond instantly to material
            requirements
            Purchase and Quality Control. </h4>
    </div>
    <div class="grid-item">
        <img src="../../images/Production.png">
        <h2 class="head1">Production</h2>
        <h4 class="part">Our Production Module works in tandem with the planning module to ensure that<br> the products
            are ready
            exactly how when the customer needs them.</h4>
    </div>

</div>
<div>
    <h1 class="head">Cost Management</h1>
</div>

<img src="../../images/component1.png" class="solution">

<div class="list">
    <p>Cost Management is a system in manufacturing software to estimate<br>
        the cost of the product for inventory
        management,<br>
        <br>profitability analysis, closing value of material inventory, <br>finished good inventory and
        cost control.

    </p>
    <br>
    <h1>Features</h1>
    <ul id="list">
        <li> BOM (Bill of Material)</li>
        <br>
        <li>BOM(Bill of Material) wise Cost Management</li><br>
        <li>Finished Receipt wise Cost Management</li>
        <br>
        <li>Compare Production Cost</li>
    </ul>
</div>
<br>
<div>
    <h1 class="head">Multi Process Management</h1>
</div>

<img src="../../images/component3.png" class="solution">

<div class="list">
    <p>Multi Process Management provides detailed information on raw material requirements,<br> bill of material,
        employees and other relevant items to create <br>finished products and get material planning output.
    </p>
    <br>
    <h1>Features</h1>
    <ul id="list">
        <li>Pressing</li>
        <br>
        <li>Fabric Management</li>
        <br>
        <li>Cutting Management</li>
        <br>
        <li>Stitching Management</li>
        <br>
        <li>Washing Management</li>
    </ul>
</div>