<iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3352.1345207375507!2d78.69831411512817!3d10.851287270973941!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3baaf42d2350a7d5%3A0x37dbae8ea2e0eded!2sHotel%20Kannappa!5e1!3m2!1sen!2sin!4v1653204331067!5m2!1sen!2sin"
              width="600"
              height="450"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
              width="100%"
              height="450"
              frameborder="0"
              style="border: 0"
              allowfullscreen=""
              aria-hidden="false"
              tabindex="0"
            ></iframe>