<section>
    <div class="container">
      <div class="sidebar">
        <ul>
          <li>
            <a href="#">
              <div class="title">REXTILE-INDUSTRY-SOFTWARE</div>
            </a>
          </li>
          <li>
            <a href="splasher">
              <i class="fas fa-th-large"></i>
              <div class="title">Home</div>
            </a>
          </li>
  
          <li>
            <a href="adminlogin">
              <i class="fa-solid fa-address-card"></i>
              <div class="title">About us</div>
            </a>
          </li>
          <li>
            <a href="apply">
              <i class="fa-solid fa-laptop-file"></i>
              <div class="title" >Contact us</div>
            </a>
          </li>
  
          <!-- <li>
            <a href="employee">
              <i class="fa-solid fa-user-graduate"></i>
              <div class="title">Offers</div>
            </a>
          </li>-->
          <li> 
            <a href="startup">
              <i class="fa-solid fa-arrow-right-to-bracket"></i>
              <div class="title">Logout</div>
            </a>
          </li>
        </ul>
      </div>
      <!-- <div class="top">
        <div class="top-bar">
          <div class="search">
            <input type="text" name="search" placeholder="search here" />
            <label for="search"><i class="fas fa-search"></i></label>
          </div> -->
      <!-- <i class="fas fa ball"></i>
          <div class="logo">
            <img src="../../assets/logo.png" alt="" />
          </div>
        </div>
      </div> -->
      <div class="cards">
        <div class="card">
          <div class="card-content">
            <div class="card-name">Rating</div>
            <div class="numbers">4.5/5</div>

          </div>
          <div class="icon-box">
            <i class="fa-solid fa-heart"></i>
          </div>
        </div>
        <div class="card">
          <div class="card-content">
            <div class="card-name">Offers</div>
            <div class="numbers">30%</div>

          </div>
          <div class="icon-box">
            <i class="fa-solid fa-face-grin-hearts"></i>
          </div>
        </div>
        <div class="card">
          <div class="card-content">
            <div class="card-name">Quality</div>

            <div class="numbers">98.9%</div>
          </div>
          <div class="icon-box">
            <i class="fa-solid fa-star-half-stroke"></i>
          </div>
        </div>
        <div class="card">
          <div class="card-content">
            <div class="card-name">Collections</div>
            <div class="numbers">100+</div>

          </div>
          <div class="icon-box">
            <i class="fa-solid fa-box-open"></i>
          </div>
        </div>
      </div>
      <div class="tables">
        <div class="last-emp">
          <div class="heading">
            <h2>Supplier details</h2>
            <a routerlink="Supplier" class="btn">View All</a>
          </div>
          <table class="emp">
            <thead>
              <td>S.Id</td>
              <td>Name</td>
              <td>Contact</td>
              <td>Actions</td>
            </thead>
            <tbody>
              <tr>
                <td>124ESF</td>
                <td>Anisha</td>
                <td>9087653421</td>
                <td>
                  <i class="far fa-eye"></i>
                  <i class="far fa-edit"></i>
                  <i class="far fa-trash-alt"></i>
                </td>
              </tr>
              <tr>
                <td>256FGH</td>
                <td>priya</td>
                <td>8976532314</td>
                <td>
                  <i class="far fa-eye"></i>
                  <i class="far fa-edit"></i>
                  <i class="far fa-trash-alt"></i>
                </td>
              </tr>
              <tr>
                <td>389FTY</td>
                <td>Dhivya</td>
                <td>9086467732</td>
                <td>
                  <i class="far fa-eye"></i>
                  <i class="far fa-edit"></i>
                  <i class="far fa-trash-alt"></i>
                </td>
              </tr>
              <tr>
                <td>478BNF</td>
                <td>Raji</td>
                <td>8907653424</td>
                <td>
                  <i class="far fa-eye"></i>
                  <i class="far fa-edit"></i>
                  <i class="far fa-trash-alt"></i>
                </td>
              </tr>
              <tr>
                <td>578GJI</td>
                <td>Rithi</td>
                <td>9087556566</td>
                <td>
                  <i class="far fa-eye"></i>
                  <i class="far fa-edit"></i>
                  <i class="far fa-trash-alt"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="last-emp">
          <div class="heading">
            <h2>Stock-Maintain</h2>
            <a href="products" class="btn">View All</a>
          </div>
          <table class="visiting">
            <thead>
              <td>S.NO</td>
              <td>Date</td>
              <td>Item Name</td>
              <td>View</td>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>12-03-2022</td>
                <td>Cotton</td>
                <td><i class="far fa-eye"></i></td>
              </tr>
              <tr>
                <td>2</td>
                <td>24-07-2021</td>
                <td>Silk</td>
                <td><i class="far fa-eye"></i></td>
              </tr>
              <tr>
                <td>3</td>
                <td>12-05-2021</td>
                <td>polyester</td>
                <td><i class="far fa-eye"></i></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>